	body{
		background:#8FBC8F;
		color:#8B4513;
		font-family:arial;
		}
	#full_board{
    	position: absolute;
    	top: 50%;
    	left: 50%;
    	transform: translate(-50%, -50%);
    	width:520px;
    	height:520px;}
    .board{
    	float:right;
    	outline: 1px solid #8B4513;}
    .highlight{
    	outline: 4px solid #4A708B;
    	outline-offset: -4px;}
    .square{
    	width:60px;
    	height:60px;}
    .black{
    	background:#CDBE70;}
	.white{
		background:#FAFAD2;}
    .column{
    	float:left;}
    .outside_numbers{
    	float:left;}
    .numbers{
    	width:30px;
    	height:60px;
    	font-size:1.8em;
    	text-align:center;
    	line-height: 60px;
    	white-space: nowrap;}
    .outside_literals{
    	float:right;
    	clear:both;}
	.literals{
    	width:60px;
    	height:30px;
    	font-size:1.8em;
    	text-align:center;
    	white-space: nowrap;
    	float:left;}
    .show{
    	display:block;
    	}
    .hide{
    	display:none;
    	}
    .moves_history{
    	position: absolute;
    	top: 26%;
    	left: 85%;
    	transform: translate(-50%, -50%);
    	font-size: 1.8em;
    	text-align: center;}
    .history{
    	background: #B4EEB4;
    	width: 280px;
    	height: 165px;
    	border: 3px solid #8B4513;
    	padding: 5px;
    	font-weight: bold;
    	text-align: left;
    	display: block;
    	margin: 0 auto;
    	}
    .moves_notation{
    	width: 270px;
    	height: 22px;
    	margin: 0 0 0 0;
    	padding: 0 0 0 0;
    	}
    .div_notation{
    	display: inline-block;
    	vertical-align: middle;
    	line-height: 1.25;
    	}
    .div_num{
    	width: 50px;
    	height: 20px;
    	}
    .div_move{
    	width: 110px;
    	height: 20px;
    	}
    .actions{
    	height: 100px;
    	position: absolute;
    	top: 70%;
    	left: 17%;
    	transform: translate(-50%, -50%);
    	text-align: left;
    	}
    .action, .choice_action{
    	font-size: 16px;
    	font-weight: bold;
    	color:#8B4513;
    	text-decoration:none;
    	}
    .list_games{
    	position: absolute;
    	top: 46%;
    	left: 85%;
    	transform: translate(-50%, -50%);
    	font-size: 1.8em;
    	text-align: center;}
    #active_games{
    	width: 300px;
    	height: 360px;}
	.games_notation{
		line-height:40%;
		font-size:16px;
		text-decoration:none;
		color:#8B4513;}
	.one_line{
		width:260px
	}
    #copyright{
    	white-space: nowrap;
		font-weight:bold;
		font-size:14px;
		position:fixed;
		right:20px;
		bottom:20px;}
	.draggable{
		cursor: pointer;}
	.cursor{
		cursor: pointer;}
	.scroll_no{
		overflow: hidden;}
	.scroll_yes{
		overflow: auto;}
	img{
		height: 60px;
		weight: 60px;
		}
	#blockscreen, #modalwindow {
    	position: fixed;
		}
	#blockscreen {
    	background: rgba(0, 0, 0, .5);
    	left: 0;
    	right: 0;
    	top: 0;
    	bottom: 0;
    	z-index: 100;
		}
	#modalwindow {
    	z-index: 101;
    	background: #fff;
    	border-radius: 5px;
    	border: 1px solid #a1a1a1;
    	box-shadow: 0 0 10px #444;
    	}
    .button{
    	width:182px;
    	height:30px;
    	}
    .status_move{
    	line-height:30px;
    	height:30px;
    	position: absolute;
    	top: 48%;
    	left: 17%;
    	transform: translate(-50%, -50%);
    	font-weight:bold;
    	}
    .draw_prop_ind{
    	line-height:15px;
    	height:60px;
    	position: absolute;
    	top: 56%;
    	left: 17%;
    	transform: translate(-50%, -50%);
    	font-weight:bold;
    }
	.center{
    	position: absolute;
    	top: 50%;
    	left: 50%;
    	transform: translate(-50%, -50%);
    	}
	.error{
		font-size:2em;
    	text-align:center;
		}
	p {
		white-space: pre;
		}
	.start_dives{
		height:600px;
		width:600px;
		text-align: justify;
		}
	#invite_dive{
		height:350px;
		}
	#welcome{
		position: absolute;
    	top: 50%;
    	left: 38%;
    	transform: translate(-50%, -50%);
		}
	#r{
		text-align: center;
		}
		}
	#invite_uuid{
		height:60px;
		width:450px;
		text-align: center;
		color: #000000;
		line-height:60px;
		}
	.hor_cen{
		margin: 0 auto;
		}
	#cl_b{
		height:30px;
		width:310px;
		}
	#inv_uuid{
		width:310px;
		}
	#radio_input{
		height:60px;
		width:190px;
		margin: 0 auto;
		}
	#one_box{
		float: left;
		}
	#two_box{
		float: right;
		}
	input[type="radio"] {
    	display:none;
		}
	input[type="radio"] + label::before {
    	content: "";
    	display: inline-block;
   		height: 60px;
    	width: 60px;
    	margin: 0 5px 0 0;
    	background-repeat: no-repeat;
		}
	input[id="first"] + label::before {
    	background-image: url(../images/K_w.png);
		}
	input[id="second"] + label::before {
    	background-image: url(../images/K_b.png);
		}
	input[id="first"]:checked + label::before {
    	background-image: url(../images/Box_K_w.png);
		}
	input[id="second"]:checked + label::before {
    	background-image: url(../images/Box_K_b.png);
		}
	input[id="first"]:disabled + label::before {
    	background-image: url(../images/K_w.png);
		}
	input[id="second"]:disabled + label::before {
    	background-image: url(../images/K_b.png);
		}

    .enemy_moved{
        position: absolute;
    	top: 30%;
    	left: 17%;
    	transform: translate(-50%, -50%);
        height: 160px;
    	width: 160px;
    	text-align:center;
    }
    .names{
    	line-height:30px;
        height: 30px;
    	width: 300px;
    	text-align:left;
    	text-overflow: clip;
    	overflow: hidden;
    }
    #my_name{
    	position: absolute;
    	top: 90%;
    	left: 17%;
    	transform: translate(-50%, -50%);
    }
    #enemy_name{
    	position: absolute;
    	top: 10%;
    	left: 17%;
    	transform: translate(-50%, -50%);
    }

	#floatingCirclesG{
		position:relative;
		width:125px;
		height:125px;
		margin:auto;
		transform:scale(0.6);
			-o-transform:scale(0.6);
			-ms-transform:scale(0.6);
			-webkit-transform:scale(0.6);
			-moz-transform:scale(0.6);
	}

	.f_circleG{
		position:absolute;
		background-color:rgb(143,188,143);
		height:22px;
		width:22px;
		border-radius:12px;
			-o-border-radius:12px;
			-ms-border-radius:12px;
			-webkit-border-radius:12px;
			-moz-border-radius:12px;
		animation-name:f_fadeG;
			-o-animation-name:f_fadeG;
			-ms-animation-name:f_fadeG;
			-webkit-animation-name:f_fadeG;
			-moz-animation-name:f_fadeG;
		animation-duration:1.35s;
			-o-animation-duration:1.35s;
			-ms-animation-duration:1.35s;
			-webkit-animation-duration:1.35s;
			-moz-animation-duration:1.35s;
		animation-iteration-count:infinite;
			-o-animation-iteration-count:infinite;
			-ms-animation-iteration-count:infinite;
			-webkit-animation-iteration-count:infinite;
			-moz-animation-iteration-count:infinite;
		animation-direction:normal;
			-o-animation-direction:normal;
			-ms-animation-direction:normal;
			-webkit-animation-direction:normal;
			-moz-animation-direction:normal;
	}

	#frotateG_01{
		left:0;
		top:51px;
		animation-delay:0.51s;
			-o-animation-delay:0.51s;
			-ms-animation-delay:0.51s;
			-webkit-animation-delay:0.51s;
			-moz-animation-delay:0.51s;
	}

	#frotateG_02{
		left:15px;
		top:15px;
		animation-delay:0.68s;
			-o-animation-delay:0.68s;
			-ms-animation-delay:0.68s;
			-webkit-animation-delay:0.68s;
			-moz-animation-delay:0.68s;
	}

	#frotateG_03{
		left:51px;
		top:0;
		animation-delay:0.85s;
			-o-animation-delay:0.85s;
			-ms-animation-delay:0.85s;
			-webkit-animation-delay:0.85s;
			-moz-animation-delay:0.85s;
	}

	#frotateG_04{
		right:15px;
		top:15px;
		animation-delay:1.01s;
			-o-animation-delay:1.01s;
			-ms-animation-delay:1.01s;
			-webkit-animation-delay:1.01s;
			-moz-animation-delay:1.01s;
	}

	#frotateG_05{
		right:0;
		top:51px;
		animation-delay:1.18s;
			-o-animation-delay:1.18s;
			-ms-animation-delay:1.18s;
			-webkit-animation-delay:1.18s;
			-moz-animation-delay:1.18s;
	}

	#frotateG_06{
		right:15px;
		bottom:15px;
		animation-delay:1.35s;
			-o-animation-delay:1.35s;
			-ms-animation-delay:1.35s;
			-webkit-animation-delay:1.35s;
			-moz-animation-delay:1.35s;
	}

	#frotateG_07{
		left:51px;
		bottom:0;
		animation-delay:1.52s;
			-o-animation-delay:1.52s;
			-ms-animation-delay:1.52s;
			-webkit-animation-delay:1.52s;
			-moz-animation-delay:1.52s;
	}

	#frotateG_08{
		left:15px;
		bottom:15px;
		animation-delay:1.69s;
			-o-animation-delay:1.69s;
			-ms-animation-delay:1.69s;
			-webkit-animation-delay:1.69s;
			-moz-animation-delay:1.69s;
	}

	@keyframes f_fadeG{
		0%{
			background-color:rgb(139,69,19);
		}

		100%{
			background-color:rgb(143,188,143);
		}
	}

	@-o-keyframes f_fadeG{
		0%{
			background-color:rgb(139,69,19);
		}

		100%{
			background-color:rgb(143,188,143);
		}
	}

	@-ms-keyframes f_fadeG{
		0%{
			background-color:rgb(139,69,19);
		}

		100%{
			background-color:rgb(143,188,143);
		}
	}

	@-webkit-keyframes f_fadeG{
		0%{
			background-color:rgb(139,69,19);
		}

		100%{
			background-color:rgb(143,188,143);
		}
	}

	@-moz-keyframes f_fadeG{
		0%{
			background-color:rgb(139,69,19);
		}

		100%{
			background-color:rgb(143,188,143);
		}
	}