<!doctype html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
		<link rel="stylesheet" type="text/css" href="{{prefix}}/chess/staticfiles/css/style.css"/>
		<title>Шахи через мережу</title>
	</head>
	<body>
        <div class="center"><p class = 'error'>Вибачте ви не можете грати в одному броузері.
    	Відішліть будь ласка дані вашому опоненту.</p></div>
	</body>
</html>