<!doctype html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
		<link rel="stylesheet" type="text/css" href="{{prefix}}/chess/staticfiles/css/style.css"/>
		<title>Шахи через мережу</title>
	</head>
	<body>
        <div class="center"><p class = 'error'>Ви, мабуть некоректно ввели дані в поле, спробуйте ще раз.</p></div>
	</body>
</html>